<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <h1>The Everything Stop</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/view">Cart</a></li>
                <li><a href="/clear">Clear-Cart</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="items">
            <h2>Items</h2>
            <ul>

                {% for item in all_items %}
                <li>
                    <img src="https://via.placeholder.com/150" alt="{{ item['name'] }}">
                    <h3>{{ item['name'] }}</h3>
                    <p>{{ item['price'] }}</p>
                    <form action="/add" method="POST">
                        <input type="text" hidden name="item" value="{{ item['id'] }}">
                        <div class="button-container">
                        <input type="submit" value="Add to cart" class="add-to-cart-btn">
                        </div>
                    </form>
                </li>
                {% endfor %}

            </ul>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 The Everything Stop. All rights reserved.</p>
    </footer>
</body>

</html>