body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #34495e;
}

.login-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 350px;
	padding: 40px;
	background: #191919;
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.login-box h1 {
	margin: 0 0 30px;
	padding: 0;
	color: #fff;
	text-align: center;
}

.login-box label {
	margin: 0;
	padding: 0;
	font-weight: bold;
	display: block;
	color: #fff;
}

.login-box input {
	width: 100%;
	margin-bottom: 20px;
}

.login-box input[type="text"],
.login-box input[type="password"],
.login-box input[type="email"] {
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

.login-box input[type="submit"] {
	border: none;
	outline: none;
	height: 40px;
	background: #03a9f4;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}

.login-box input[type="submit"]:hover {
	cursor: pointer;
	background: #0082c8;
	color: #fff;
}

.register {
	color: #0082c8;
}
